.chat-button,
.whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
  z-index: 1000;
}

.chat-button-mk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 100px;
  width: 100px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
  z-index: 1000;
}

.chat-button:hover {
  transform: scale(1.1);
}

.chat-button-mk:hover {
  transform: scale(1.1);
}

.whatsapp-button {
  background-color: #5ff57a;
  padding: 0;
  right: 95px;
}

.chat-window {
  display: none;
  width: 420px;
  height: 72vh;
  border-radius: 20px;
  overflow: hidden;
  position: fixed;
  bottom: 85px;
  right: 10px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-close-button {
  border: none;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  top: 13px;
  right: 8px;
  z-index: 300;
  border-radius: 100%;
}

.chat-iframe {
  width: 100%;
  height: 100%;
  outline: none;
}

@media (max-width: 1023px) {
  .chat-button {
    bottom: 30px;
    right: 10px;
  }
  .chat-button-mk {
    bottom: 30px;
    right: 10px;
  }
  .chat-window {
    bottom: 85px;
    right: 10px;
  }
}

@media (max-width: 767px) {
  .chat-button {
    bottom: 85px;
    right: 15px;
  }
  .chat-button-mk {
    bottom: 85px;
    right: 15px;
  }

  .chat-window {
    height: 77vh;
    bottom: 140px;
    right: 15px;
  }
}

@media (max-width: 450px) {
  .chat-iframe {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .chat-close-button {
    top: 0;
    right: 0;
  }
}

/* Newly Added for MK-demo */

.chat-button-custom {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #aa9a76; /* Blue background */
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 100ms ease-in-out;
  font-family: Arial, sans-serif;
  text-align: left;
}

.chat-button-custom:hover {
  transform: scale(1.05);
}

.chat-profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-text {
  font-size: 14px;
  line-height: 1.2;
  white-space: pre-line; /* allows line break */
}
